---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="card-main" style="background-image: url('{{ post.image | prepend: site.baseurl }}');">
    <a class="card-title" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    <span class="card-date"> {{ post.date | date: "%b %Y" }} by {{ post.author }}</span>

    <span class="card-snippet">{{ post.content | strip_html | truncatewords: 50 }}</span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
